<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Created by Tivotal-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Circular Loader with Check Mark</title>

    <!--css file-->
  </head>
  <body>

    <input type="checkbox" id="check" checked="@(!IsDoneSpinning ? null:"checked")" />
    <label for="check" id="circle" class="@(IsDoneSpinning ? "":"spin")">
      <div class="icon"></div>
    </label>
    <p style="margin-top: 10px;width: 300px;text-align: center">@Message</p>
    <div @onclick="() => {}" style="position: absolute; height: 100%; width: 100%"></div>
  </body>
</html>





@code {
    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public bool IsSpinning { get; set; }

    [Parameter]
    public bool IsDoneSpinning { get; set; }


    [Parameter]
    public Func<Task> ActionToExecute { get; set; }

}
