
/* Created by Tivotal */
*[b-cdg443qqbr] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html[b-cdg443qqbr],
body[b-cdg443qqbr] {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f3f4f6;
}


label[b-cdg443qqbr] {
    display: inline-block;
    height: 125px;
    width: 125px;
    border: 2px solid rgba(92, 184, 92, 0.2);
    border-radius: 50%;
    border-left-color: #5cb85c;
    position: relative;
}

.spin[b-cdg443qqbr] {
    animation: rotate-b-cdg443qqbr 1.2s linear infinite;
}

@keyframes rotate-b-cdg443qqbr {
    50% {
        border-left-color: #5cb85c;
    }

    75% {
        border-left-color: #5cb85c;
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate2-b-cdg443qqbr {
    50% {
        border-left-color: #9b59b6;
        opacity: 1;
    }

    75% {
        border-left-color: #e67e22;
    }

    100% {
        transform: rotate(360deg);
        opacity: 0;
    }
}


#check[b-cdg443qqbr] {
    display: none;
}

    #check:checked ~ label[b-cdg443qqbr] {
        animation: none;
        border-color: #5cb85c;
        transition: border 0.5s ease-out;
    }

label .icon[b-cdg443qqbr] {
    display: none;
}

    label .icon[b-cdg443qqbr]::after {
        position: absolute;
        content: "";
        height: 56px;
        width: 28px;
        border-top: 4px solid #5cb85c;
        border-right: 4px solid #5cb85c;
        left: 28px;
        top: 50%;
        transform: scaleX(-1) rotate(135deg);
        transform-origin: left top;
        animation: icon-b-cdg443qqbr 0.8s ease;
    }

@keyframes icon-b-cdg443qqbr {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }

    20% {
        height: 0;
        width: 28px;
        opacity: 1;
    }

    40% {
        height: 56px;
        width: 28px;
        opacity: 1;
    }

    100% {
        height: 56px;
        width: 28px;
        opacity: 1;
    }
}

#check:checked ~ label .icon[b-cdg443qqbr] {
    display: block;
}