.nav-link span[b-d2rrvrhpa3] {
    color: black;
}

.navbar-toggler[b-d2rrvrhpa3] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-d2rrvrhpa3] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-d2rrvrhpa3] {
    font-size: 1.1rem;
}

.oi[b-d2rrvrhpa3] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: middle;
    margin-right: 10px;
    color: black;
}

    .oi img[b-d2rrvrhpa3] {
        width: 90%;
        height: 90%;
    }

.nav-item[b-d2rrvrhpa3] {
    font-size: 0.9rem;
}

    .nav-item:first-of-type[b-d2rrvrhpa3] {
        padding-top: 1.5rem;
    }

    .nav-item:last-of-type[b-d2rrvrhpa3] {
        padding-bottom: 1.5rem;
    }

    .nav-item[b-d2rrvrhpa3]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 5rem;
        display: flex;
        align-items: center;
        padding-left: 12px;
        border-left: 5px solid transparent;
    }

        .nav-item[b-d2rrvrhpa3]  a.active {
            background-color: #f2f2f2;
            border-right: 5px solid var(--primary-color);
            border-radius: 0;
            color: white;
        }

            .nav-item[b-d2rrvrhpa3]  a.active span svg {
                fill: var(--primary-color);
            }

            .nav-item[b-d2rrvrhpa3]  a.active span {
                color: var(--primary-color);
            }

        .nav-item[b-d2rrvrhpa3]  a:hover {
            background-color: rgba(128, 128, 128, 0.25);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-d2rrvrhpa3] {
        display: none;
    }

    .collapse[b-d2rrvrhpa3] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
