
    .flex-wrapper[b-c5gyzlcry5] {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart[b-c5gyzlcry5] {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart[b-c5gyzlcry5] {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg[b-c5gyzlcry5] {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle[b-c5gyzlcry5] {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress-b-c5gyzlcry5 1s ease-out forwards;
}

@keyframes progress-b-c5gyzlcry5 {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle[b-c5gyzlcry5] {
  stroke: #ff9f00;
}

.circular-chart.green .circle[b-c5gyzlcry5] {
  stroke: #4CC790;
}

.circular-chart.blue .circle[b-c5gyzlcry5] {
  stroke: #3c9ee5;
}

.percentage[b-c5gyzlcry5] {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}