.login-page[b-wbdjfgxe5p] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f4f6;
}

.login-card[b-wbdjfgxe5p] {
    background-color: #ffffff33;
    border-radius: 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-left: 2px solid var(--primary-color);
    padding: 40px;
    width: 400px;
}

.login-title[b-wbdjfgxe5p] {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.login-form[b-wbdjfgxe5p] {
    width: 100%;
}

.form-group[b-wbdjfgxe5p] {
    margin-bottom: 20px;
}

.form-label[b-wbdjfgxe5p] {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.form-input[b-wbdjfgxe5p] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0px;
}

.input-icons[b-wbdjfgxe5p] {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

    .input-icons i[b-wbdjfgxe5p] {
        position: absolute;
    }

.icon[b-wbdjfgxe5p] {
    padding: 10px;
    color: var(--primary-color);
    min-width: 50px;
    text-align: center;
}

.input-field[b-wbdjfgxe5p] {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    text-align: left;
}


